header.w3-container {
  background-image: url("./images/volcano.jpg");
  background-blend-mode: color-dodge;
  background-size: cover;
}

header div.vesuvius-logo {
  background-image: url("./images/vesuvius-logo.jpg");
  background-size: contain;
  height: 98px;
  width: 100px;
  border-radius: 15px;
  margin: auto;
}

header.w3-red {
  color: rgb(50, 50, 50) !important;
}

.main-header {
  font-weight: 900;
}

.grid-container {
  max-width: 60%;
  margin: 0 auto;
}

.events-planning-content {
  background-image: url("./images/events-planning.jpg");
  background-size: cover;
  max-width: 820px;
  margin: 0 auto;
}

.print-on-demand-content {
  background-image: url("./images/print-on-demand.portrait.jpg");
  background-size: cover;
  min-height: 450px;
  max-width: 820px;
  margin: 0 auto;
}

.content-text {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
}

.blank {
  padding: 2px;
}

.content-side-spacer 
{
  width: 15%;
  height: 1px;
}

.content-wrapper {
  width: 70%;
}

section.catalog {
  max-width: 1024px;
  text-align: center;
}

section.catalog img {
  width: 200px;
  height: 200px;
  margin: 8px;
  /* border-width: 5px;
  border-color: orange;
  border-style: solid;
  border-radius: 2px; */
  box-shadow: 2px 2px 2px 2px orange;
}

@media only screen and (max-width: 600px) {
  section.catalog img {
    width: 150px;
    height: 150px;
  }
}

.catalog-heading {
  padding: 15px;
}